# Imports

In [1]:
import pandas as pd

Initialize functions

In [3]:
def categorize(df, categories):
    for category in categories:
        df[category] = pd.Categorical(df[category]).codes
    return df

def numberize(df, numerics):
    for numeric in numerics:
        df[numeric] = df[numeric].astype("float")
    return df

load and prepare the data

In [8]:
df = pd.read_csv("flatfox.csv")
df.drop(df[df["offer_type"] != "RENT"].index, inplace=True)
# NaN  in floors is replaced by 0
df.dropna(subset=["price_display"], inplace=True)
df = df.loc[:, ['description']]

#df.describe()
df.head()
#df.isna().sum()
#df.dtypes

/tmp/ipykernel_24578/1145991444.py:1: DtypeWarning: Columns (52) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("flatfox.csv")

                                         description
1  Diverse Einstellhallenparkplätze zentral in Le...
2  Nach Vereinbarung vermieten wir im äusserst mo...
3  In dieser sehr schönen Wohnung vermieten wir d...
4  I am looking for a buoyant, easygoing person, ...
5  Loft de 145 m2 comprenant un grand salon/séjou...

Write clean data to csv

In [9]:
df.to_csv("flatfox_description.csv", index=False)