In [1]:
import pandas as pd

In [43]:
df = pd.read_csv("flatfox.csv")
df = df.drop(df[df["offer_type"] != "RENT"].index)
df.fillna({"year_renovated": df["year_built"]}, inplace=True)
df = df.dropna(subset=["price_display"])
df = df.drop([
    "pk",
    "slug",
    "url",
    "short_url",
    "rent_net",
    "rent_charges",
    "rent_gross",
    "offer_type",
    "submit_url",
    "status",
    "created",
    "reference",
    "ref_property",
    "ref_house",
    "ref_object",
    "alternative_reference",
    "published",
    "short_title",
    "public_title",
    "pitch_title",
    "description_title",
    "description",
    "attributes",
    "public_address",
    "video_url",
    "tour_url",
    "website_url",
    "live_viewing_url",
    "cover_image",
    "images",
    "documents",
    "agency",
    "rent_title"], axis=1)
df.describe()

/tmp/ipykernel_78713/3852011527.py:1: DtypeWarning: Columns (52) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("flatfox.csv")

,object_category,object_type,price_display,price_display_type,price_unit,surface_living,surface_property,surface_usable,surface_usable_minimum,volume,...,zipcode,city,latitude,longitude,year_built,year_renovated,moving_date_type,moving_date,reserved,livingspace
1,PARK,GARAGE_SLOT,130.0,TOTAL,monthly,NaN,NaN,NaN,NaN,NaN,...,5600,Lenzburg,47.384753,8.18275,NaN,NaN,agr,NaN,False,NaN
2,INDUSTRY,ATELIER,2325.0,TOTAL,monthly,NaN,NaN,119.0,NaN,NaN,...,8600,Dübendorf,47.397886,8.60085,2018.0,2018.0,imm,NaN,False,119.0
3,APARTMENT,SINGLE_ROOM,610.0,TOTAL,monthly,17.0,NaN,NaN,NaN,NaN,...,9008,St. Gallen,47.442430,9.39251,NaN,NaN,dat,2018-09-01,False,17.0
4,SHARED,SHARED_FLAT,1350.0,TOTAL,monthly,18.0,NaN,NaN,NaN,NaN,...,8005,Zürich,47.389303,8.51320,2004.0,2004.0,dat,2023-04-01,False,18.0
5,APARTMENT,APARTMENT,2370.0,TOTAL,monthly,145.0,NaN,NaN,NaN,NaN,...,2000,Neuchâtel,46.798803,6.85501,2004.0,2004.0,imm,NaN,False,145.0

object_category           21063
object_type               21063
price_display             21040
price_display_type        21040
price_unit                21063
rent_net                  15224
rent_charges              13669
rent_gross                17257
surface_living            11708
surface_property            965
surface_usable             5915
surface_usable_minimum      305
volume                     2096
space_display             16018
number_of_rooms           13394
floor                     16476
is_furnished              21063
is_temporary              21063
is_selling_furniture      21063
street                    18517
zipcode                   21063
city                      21063
latitude                  21063
longitude                 21063
year_built                 8510
year_renovated             9604
moving_date_type          21063
moving_date                7449
reserved                  21063
livingspace               16018
dtype: int64