In [11]:
import pandas as pd

In [27]:
df = pd.read_csv("flatfox.csv")
#kick sale
df = df.drop([
    "pk",
    "slug",
    "url",
    "short_url",
    "offer_type",
    "submit_url",
    "status",
    "created",
    "reference",
    "ref_property",
    "ref_house",
    "ref_object",
    "alternative_reference",
    "published",
    "short_title",
    "public_title",
    "pitch_title",
    "description_title",
    "description",
    "attributes",
    "public_address",
    "video_url",
    "tour_url",
    "website_url",
    "live_viewing_url",
    "cover_image",
    "images",
    "documents",
    "agency",
    "rent_title"], axis=1)
df.head()

/tmp/ipykernel_70474/148559220.py:1: DtypeWarning: Columns (52) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("flatfox.csv")

,offer_type,object_category,object_type,price_display,price_display_type,price_unit,rent_net,rent_charges,rent_gross,surface_living,...,zipcode,city,latitude,longitude,year_built,year_renovated,moving_date_type,moving_date,reserved,livingspace
0,RENT,INDUSTRY,OFFICE,NaN,NaN,monthly,NaN,NaN,NaN,NaN,...,9430,St. Margrethen SG,47.452350,9.635814,1977.0,NaN,agr,NaN,False,127.0
1,RENT,PARK,GARAGE_SLOT,130.0,TOTAL,monthly,130.0,0.0,NaN,NaN,...,5600,Lenzburg,47.384753,8.182750,NaN,NaN,agr,NaN,False,NaN
2,RENT,INDUSTRY,ATELIER,2325.0,TOTAL,monthly,1980.0,345.0,NaN,NaN,...,8600,Dübendorf,47.397886,8.600850,2018.0,NaN,imm,NaN,False,119.0
3,RENT,APARTMENT,SINGLE_ROOM,610.0,TOTAL,monthly,NaN,NaN,610.0,17.0,...,9008,St. Gallen,47.442430,9.392510,NaN,NaN,dat,2018-09-01,False,17.0
4,RENT,SHARED,SHARED_FLAT,1350.0,TOTAL,monthly,NaN,NaN,1350.0,18.0,...,8005,Zürich,47.389303,8.513200,2004.0,NaN,dat,2023-04-01,False,18.0