# Imports

In [1]:
import pandas as pd

Initialize functions

In [2]:
def categorize(df, categories):
    for category in categories:
        df[category] = pd.Categorical(df[category]).codes
    return df

def numberize(df, numerics):
    for numeric in numerics:
        df[numeric] = df[numeric].astype("float")
    return df

load and prepare the data

In [1]:
df = pd.read_csv("flatfox_clean.csv")
# NaN  in floors is replaced by 0
#df.dropna(subset=["price_display"], inplace=True)
df = df[['description']]
df = df.replace('[:punct:]','', regex=True)
#df.describe()
df.head()
#df.isna().sum()
#df.dtypes

NameError: name 'pd' is not defined

Write clean data to csv

In [9]:
df.to_csv("flatfox_description.csv", index=False)