# Imports

In [16]:
import pandas as pd
import csv

Initialize functions

In [2]:
def categorize(df, categories):
    for category in categories:
        df[category] = pd.Categorical(df[category]).codes
    return df

def numberize(df, numerics):
    for numeric in numerics:
        df[numeric] = df[numeric].astype("float")
    return df

load and prepare the data

In [7]:
df = pd.read_csv("flatfox.csv")
df=df[['description']]
df = df.replace('[^\w\s]','', regex=True)

/tmp/ipykernel_31214/518066010.py:1: DtypeWarning: Columns (52) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("flatfox.csv")

Write clean data to csv

In [18]:
display(df)
df.to_csv("descriptions_noPunct_CD.csv",index=False, quoting=csv.QUOTE_NONNUMERIC ,quotechar='"', lineterminator='!')

                                             description
0      Grosszügiger und Lichtdurchfluteter Büro Praxi...
1      Diverse Einstellhallenparkplätze zentral in Le...
2      Nach Vereinbarung vermieten wir im äusserst mo...
3      In dieser sehr schönen Wohnung vermieten wir d...
4      I am looking for a buoyant easygoing person wh...
...                                                  ...
27652  Ein Zimmer in einer 3er WG in kreis 6  \nDas Z...
27653  An sehr gut erschlossener Lage vermieten wir a...
27654                                     Parkplatz inkl
27655  Ihr neues Zuhause erwartet Sie ein lichtdurchf...
27656  Direkt am Bahnhof von Dietikon suchen wir eine...

[27657 rows x 1 columns]