# Imports

In [2]:
import pandas as pd

Initialize functions

In [3]:
def categorize(df, categories):
    for category in categories:
        df[category] = pd.Categorical(df[category]).codes
    return df

def numberize(df, numerics):
    for numeric in numerics:
        df[numeric] = df[numeric].astype("float")
    return df

load and prepare the data

In [4]:
df = pd.read_csv("flatfox.csv")
df = df[['description']]
df = df.replace(',','', regex=True)
df.head()

/tmp/ipykernel_31759/1921699397.py:1: DtypeWarning: Columns (52) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("flatfox.csv")

                                         description
0  Grosszügiger und Lichtdurchfluteter Büro-/ Pra...
1  Diverse Einstellhallenparkplätze zentral in Le...
2  Nach Vereinbarung vermieten wir im äusserst mo...
3  In dieser sehr schönen Wohnung vermieten wir d...
4  I am looking for a buoyant easygoing person wh...

Write clean data to csv

In [5]:
df.to_csv("descriptions-noPunct.csv", index=False)